variable "id_of_custom_vpc" {
  description = "ID of custom vpc"
  type        = string
  default     = ""
}

variable "id_of_pub_subnet_az_a" {
  description = "ID of public subnet in AZ-a"
  type        = string
  default     = ""
}

variable "id_of_pub_subnet_az_b" {
  description = "ID of public subnet in AZ-b"
  type        = string
  default     = ""
}
